<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/demo.css" type="text/css" media="screen">
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extended_head %}{% endblock %}
</head>
<body>
<div class="container">
    <header role="banner">
        <h1><a href="{% url 'demo-home' %}">Swingtime Demo</a></h1>
    </header>
    <main role="main">
        {% block navigation %}
        <h2>The Karate Dojo</h2>
        <nav>
            <a href="{% url 'karate-home' %}">Home</a> &middot;
            <a href="{% url 'swingtime-today' %}">Daily View</a> &middot; 
            <a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}">
                Monthly View</a> &middot; 
            <a href="{% url 'swingtime-yearly-view' current_datetime.year %}">Yearly View</a> &middot; 
            <a href="{% url 'swingtime-events' %}">Event Listing</a>
        </nav>
        {% endblock navigation %}
        {% block main_content %}{% endblock main_content %}
    </main>
    <footer role="contentinfo"></footer>
</div>
</body>
</html>
