{% extends "base.html" %}
{% block title %}Add Event{% endblock %}
{% block main_content %}
    <h2>Add Event</h2>
    <p>
        Got <code>dtstart</code>: {{ dtstart }}
    </p>
    <form method="post" action="">
    <table>
        <tfoot>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </tfoot>
        <tbody>
        <tr><th>{{ form.event_type.label_tag }}</th>
            <td>{{ form.event_type }}</td></tr>
        <tr><th>{{ form.title.label_tag }}</th>
            <td>{{ form.title }}</td></tr>
        <tr><th>{{ form.description.label_tag }}</th>
            <td>{{ form.description }}</td></tr>

        {% include "swingtime/recurring_form_part.html" %}
        </tbody>
    </table>
    </form>

{% endblock %}
