{% extends "base.html" %}
{% block title %}Daily View{% endblock %}
{% block extended_head %}
    <style type="text/css" media="screen">
        .evt-work-odd { background-color: #ccf; }
        .evt-work-even { background-color: #99c; }
        .evt-play-odd { background-color: #ffc; }
        .evt-play-even { background-color: #cc9; }
    </style>
{% endblock %}
{% block main_content %}
    <h2>Daily View</h2>
    <h3>
        <a href="{% url swingtime-daily-view prev_day.year prev_day.month prev_day.day %}">&larr;</a>
        {{ day|date:"l, N jS Y" }}
        <a href="{% url swingtime-daily-view next_day.year next_day.month next_day.day %}">&rarr;</a>
    </h3>
    <table class="calendar">
        <tbody>
            {% for row in timeslots %}
            <tr>
                <th><a href="{% url swingtime-add-event %}?dtstart={{ row.time.isoformat }}">{{ row.time|date:"P" }}</a></th>
                {% for col in row %}
                <td{% if col.event_class %} class="{{col.event_class}}"{% endif %}>{{ col }}</td>    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}