<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="django swingtime demo">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css" media="screen">
        @import url(/media/css/demo.css);
    </style>
    {% block extended_head %}{% endblock %}
</head>
<body>
    <h1><a href="{% url demo-home %}">Swingtime Demo</a></h1>
    <div id="container">
    {% block navigation %}
    <h2>The Karate Dojo</h2>
    <p style="font-weight: bold; ">
        <a href="{% url swingtime-today %}">Daily View</a> &sect; 
        <a href="{% url swingtime-monthly-view current_datetime.year current_datetime.month %}">
            Monthly View</a> &sect; 
        <a href="{% url swingtime-yearly-view current_datetime.year %}">Yearly View</a> &sect; 
        <a href="{% url swingtime-events %}">Event Listing</a>
    </p>
    <hr />
    {% endblock navigation %}
    {% block main_content %}{% endblock main_content %}
    </div>
    <div style="text-align: center; padding-top: 2em; ">
        <a href="http://djangopony.com/" 
            class="ponybadge" title="Magic! Ponies! Django! Whee!">
                <img src="/media/img/ponybadge.png" 
                    width="140" height="44" alt="ponybadge" />
        </a>
    </div>
</body>
</html>
