{% extends "base.html" %}
{% block extended_head %}
    <style type="text/css" media="screen">
        #container { background-image: none; }
        .intro { width: 60%; margin: 0 auto; text-align: center; }
            .intro p { font-size: larger; }
    </style>
{% endblock extended_head %}
{% block navigation %}{% endblock navigation %}
{% block main_content %}
    <h2>Introduction</h2>
    <p class="center">
        Welcome to the Swingtime (django-swingtime) demonstration site. Swingtime
        is calendar event scheduling application for 
        <a href="http://www.djangoproject.com/">Django</a>.
    </p>
    
    <p class="center">
        The purpose of this site is to showcase some of the Swingtime's features
        and allow some simple interaction. The theme for the demo is a Karate dojo.
    </p>
    
    <p class="center">
        Quick start: View today's calendar and <a href="{% url 'swingtime-today' %}">
            add a new event by clicking a time slot &raquo;</a>
    </p>

    <nav>
        <a class="btn" href="{% url 'karate-home' %}">Continue Demo &raquo;</a>
        <a class="btn" href="{% url 'swingtime-docs' %}">Swingtime Documentation &raquo;</a>
        <a class="btn" href="https://github.com/dakrauth/django-swingtime">Swingtime Source Code &raquo;</a>
        <a class="btn" href="{% url 'admin:index' %}">Django Admin &raquo;</a>
        (<em>Username: <code>admin</code>, password: <code>password</code></em>)
    </nav>
{% endblock main_content %}
