* {margin: 0; padding: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}
h1 { font-size: 2.33em; text-align: center; }
h2 { font-size: 2em; color: #543; margin: 1em 0 .5em; text-align: center;}
h3 { font-size: 1.66em; color: #655; font-size: 1.33em; margin: 1em 0 .5em; }
h4 { font-size: 1.33em; color: #877; font-size: 1.33em; margin: 1em 0 .5em; }
a { text-decoration: none; color: #357; }
a:hover { text-decoration: underline; }
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; }
th, td { padding: 4px; border: 1px solid #eee; }
th { font-weight: bold; background-color: #bba; }
ul, ol { margin-left: 2em; }
body { font-size: 14px; background-color: #bba; padding: 1em 2em; }
img { border: none; }
.center { text-align : center; }
.container { 
    margin: 1em auto;
    width: 950px;
    padding: 1em 60px 60px 60px;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0,.25);
    color: #222;
    background: #fff url(/media/img/karatedo.png) no-repeat left 10px;
}
header h1 { border: 1px solid #999; border-radius: 4px; background-color: #bba; }
nav { text-align: center; font-weight: bold; }
dt { font-weight: bold; }
dd { margin-bottom: .5em; }
form table { width: 100%; border: 1px solid #aaa; }
    form table ul { margin: 0; padding: 0;}
    form table li { list-style-type: none; margin-bottom: .5em; }
    form table th, form table td { padding: 8px; }
    form table th { text-align: right; width: 10em; }
    form tfoot td { text-align: center; background-color: #566; }
    form input[type="text"] { padding: 2px 4px; border-radius: 2px; border: 1px solid #ccc; }
.form-indent { margin-left: 2.5em; }
.horizontal { width: 30em; }
    .horizontal li { float: left; margin: 0; }
    .horizontal li label { width: 4em; display: block; float: left; }
#recurrence-options { float: left; margin-left: 1em; }
    #recurrence-options li { margin-bottom: 4px; }
.calendar { width: 100%; }
    .calendar td, .calendar th { width: 20%; padding: 4px; }
.month-view { width: 100%; }
.month-view td { vertical-align: top; height: 10em; }
    .month-view td, .month-view th { width: 14.285%; }
    .month-view .day-ordinal { font-weight: bold; font-size: 1.1em; text-align: right; }
    .month-view ul { margin: 1px 2px; padding: 0; padding-left: 1em; }
    .month-view li { font-size: .9em; }
    .month-view .today { background-color: #eed; }
    .month-view .event-times {  }
.month-divider th, .month-divider td { border-top: 3px solid #8e8f80; }
#belts { list-style-type: none; margin: 1em auto; padding: 0; width: 70%; }
    #belts a {
        text-align: center;
        display: block;
        padding: 4px;
        border: 1px solid #ccc;
        margin-bottom: .5em;
        font-weight: bold;
    }
#white-belt { background-color: #fff; color: #322; }
    #yellow-belt { background-color: #fd0; color: #322; }
    #green-belt  { background-color: #693; color: #fff; }
    #brown-belt  { background-color: #655; color: #fff; }
    #black-belt  { background-color: #322; color: #fff; }
.evt-spc-odd, .evt-spc-even  { background-color: #3b5153; color: #fff; }
    .evt-spc-odd a, .evt-spc-even a { color: #fff; }
    .evt-open-even, .evt-open-odd { background-color: #ccd; }
    .evt-adv-odd, .evt-adv-even { background-color: #cdd; }
    .evt-bgn-even, .evt-bgn-odd { background-color: #dd8; }
    .evt-bbc-odd, .evt-bbc-even { background-color: #aaa; }
    .evt-prv-odd { background-color: #8a9; }
    .evt-prv-even { background-color: #acb; }